# --- Web & API ---
fastapi
uvicorn
streamlit
requests
pandas
supabase
plotly
streamlit-cookies-controller

# --- AI & Deep Learning ---
torch
torch-geometric
transformers
sentencepiece

# --- Data & Math ---
numpy
pandas
scikit-learn
networkx

# --- Visualization ---
matplotlib