# --- Web & API ---
fastapi
uvicorn
streamlit
requests
pandas
supabase
plotly
streamlit-cookies-controller
psycopg2-binary
requests==2.31.0
beautifulsoup4==4.12.3
python-dotenv

# --- AI & Deep Learning ---
torch
torch-geometric
transformers
sentencepiece

# --- Data & Math ---
numpy
pandas
scikit-learn
networkx

# --- Visualization ---
matplotlib